@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  --pink-color: hsl(330, 100%, 98%);
  --darker-pink: hsl(332, 51%, 32%);
  --stone-900: hsl(24, 5%, 18%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-100: hsl(30, 54%, 90%);
  --brown-800: hsl(14, 45%, 36%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: var(--stone-900);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* text styles general */
p,
b {
  font-size: 16px;
}

b {
  color: var(--stone-600);
}

h3 {
  color: var(--brown-800);
}

/* content styles */
body {
  background-color: hsl(330, 100%, 98%);
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-top: 50px;
  align-items: center;
  height: 100vh;
}

main {
  background-color: white;
  width: min(650px, 90vw);
  height: auto;
  border-radius: 10px;
  padding: 1rem 2rem;
}

img {
  width: 100%;
  border-radius: 10px;
}

/* hr style */
hr {
  height: 1px;
  border-width: 0;
  color: var(--stone-150);
  background-color: var(--stone-150);
}

/* table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0.4rem;
}

td:nth-last-child(1) {
  text-align: right;
}


tr {
  border-bottom: 1px solid var(--stone-150);
}

tr:nth-last-child(1) {
  border: none;
}

/* list styles */
ol,
ul {
  margin: 18px;
  margin-top: 5px;
  padding: 10px;
  padding-top: 5px;
}

ol {
  margin-left: 30px;
}


li::marker {
  color: var(--brown-800);
}

ul li::marker {
  font-size: 0.7rem;
}

.recipe-prep > ul li::marker {
  color: var(--darker-pink);
}

ol li::marker {
  font-weight: 800;
  word-spacing: 10px;
}